<div class="container mat-elevation-z4">


<div class="container-medio">
   <div  class="ajuste">
  <mat-form-field>
    <input matInput (keyup)="filtrarTabela($event)" placeholder="Pesquisar..."/>
    <mat-icon matSuffix>
       search
    </mat-icon>
  </mat-form-field>
  </div>
  <ngx-skeleton-loader count="5" appearance="line" animation="pulse" *ngIf="loader"></ngx-skeleton-loader>

  <mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements" *ngIf="!loader">
    <!-- Id Provincia Column [dataSource]="dataSource['data']"-->
    <ng-container matColumnDef="provincia_id">
      <mat-header-cell *matHeaderCellDef [hidden]="true" mat-sort-header>Id Provincia</mat-header-cell>
      <mat-cell *matCellDef="let row" [hidden]="true">{{row.provincia_id}}</mat-cell>
    </ng-container>

    <!-- Id Municipio Column [dataSource]="dataSource['data']"-->
    <ng-container matColumnDef="municipio_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id Municipio</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.municipio_id}}</mat-cell>
    </ng-container>
    <!-- Id Bairro Column [dataSource]="dataSource['data']"-->
    <ng-container matColumnDef="bairro_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id Bairro</th>
      <td mat-cell *matCellDef="let row">{{row.bairro_id}}</td>
    </ng-container>

    <!-- Id Rua Column [dataSource]="dataSource['data']"-->
    <ng-container matColumnDef="rua_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id Rua</th>
      <td mat-cell *matCellDef="let row">{{row.rua_id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="provincia">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Provincia</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.provincia}}</mat-cell>
    </ng-container>
    <!--municipio-->
    <ng-container matColumnDef="municipio">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Municipio</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.municipio}}</mat-cell>
    </ng-container>
    <!--bairro-->
    <ng-container matColumnDef="bairro">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Bairro</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.bairro}}</mat-cell>
    </ng-container>

    <!--rua-->
    <ng-container matColumnDef="rua">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Rua</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.rua}}</mat-cell>
    </ng-container>

    <!--Acção-->
    <ng-container matColumnDef="accao">
      <mat-header-cell *matHeaderCellDef class="mat-cell-bottom"></mat-header-cell>
      <mat-cell *matCellDef="let row" class="mat-cell-bottom">
        <a mat-mini-fab color="primary" class="editar" matTooltipPosition="above"
          routerLink="/rua/actualizar/{{ row.rua_id }}" ripple-effect routerLinkActive="router-link-active">
          <i class="material-icons">edit</i>
        </a>
        <button mat-mini-fab class="apagar" (click)="apagar(row.rua_id)" color="warn" matTooltipPosition="above" ripple-effect>
          <i class="material-icons ">delete</i>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="getDisplayedColumns()">
    </mat-header-row>
    <mat-row *matRowDef="let row; columns: getDisplayedColumns()"></mat-row>
  </mat-table>
  <div *ngIf="!loader && contar < 1" align="center">Nenhum registo encontrado!!!</div>

  <mat-paginator *ngIf="!loader && contar > 0 " #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="5"
    [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>