.card{
  width: 80%;
  display: -ms-flexbox;
  display: block;
  margin:auto; 
  margin-top: 12em;
}

form{
  display: flex;
  flex-direction: unset;
}





button{
  margin-right: 1rem;
}


.title{
    font-size: 1.2em;
    text-align: left;
}

/*Imagem*/



.image-wrap {
  padding: 10px;
  border: solid 1px #e0e0e0;
  display: inline-block;
}

.img-space {
  border: dashed 1px #d3d3d3;
  border-radius: 8px;
  background-color: #f2f2f2;
  
  /*height: auto;*/
  width: 100%;
  padding: 10px;
 /* min-height:175px;*/
}

.img-space img {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  cursor: pointer;
}

.fileInputProfileWrap {
  width: 20%;
  height: auto;
}

.fileInputProfile {
  position: absolute;
  height: 20%;
  width: 20%;
  z-index: 99;
  opacity: 0;
}

.fileInputProfile[disabled] + .img-space{
  pointer-events: none;
  cursor: not-allowed!important;
}

/*Fim Imagem*/

.icon{
  padding-right: 0.7rem;
}