form{
    display: flex;
  /*  flex-direction: column;*/
}

.card{
   width: 80%;
    /* display: -ms-flexbox;
    display: block;
    margin-top: 12em;*/
    margin:auto; 
}



button{
  margin-right: 1rem;
}


.title{
    font-size: 1.2em;
}

