form{
  display: flex;
  flex-direction: column;
}

.card{
  width: 50%;
  display: -ms-flexbox;
  display: block;
  margin:auto; 
  margin-top: 12em;
}



button{
margin-right: 1rem;
}


.title{
  font-size: 1.2em;
  text-align: left;
}



