<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <mat-icon>
                    home
                </mat-icon>
                Inicio
            </a>
            <a mat-list-item [matMenuTriggerFor]="menu">
                <mat-icon>
                    people_alt
                </mat-icon>
               &nbsp;   Def.users
            </a>
            <mat-menu #menu="matMenu">
                <a mat-menu-item  routerLink="/patente/nova">
                Nova Patente
                <mat-icon color="primary" class="icon">
                    add_circle_outline
                </mat-icon>
                </a>
                <a mat-menu-item routerLink="/patente">
                    Listar
                    <mat-icon class="icon"> 
                        list_alt
                    </mat-icon>
                </a>
              </mat-menu>
        </mat-nav-list>
        
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>