.sidenav {
    background-color: #313c8e;/*#000080;*/ 
    width: 200px;
}

.sidenav a {
    color: #fff;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: lightblue;
}
   /* 
::ng-deep .mat-menu-panel {
width: 100%!important; 
    padding: 0 16px!important;
  
    display: flex;
    align-items: center;
    
} */

::ng-deep .mat-icon {
    float: right; 
    position: initial;
}

.icon{
    padding-top: 0.7rem;
}

::ng-deep .mat-icon-content {
  display: flex;
}

::ng-deep .mat-menu-content {
    width: 200px !important;
    /*height: 220px !important;*/
}


