<mat-sidenav-container class="container" >
<!--fixedInViewport="true" fixedTopGap="64"-->
    <mat-sidenav class="sidenav" mode="side" opened >
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <mat-icon>
                    home
                </mat-icon>
                Inicio
            </a>
            <mat-divider></mat-divider>
            <mat-animated-icon start="keyboard_arrow_down" class="icon-1 mat-icon" end="keyboard_arrow_up" colorStart="none" colorEnd="none" [animate]="animate_utilizador"></mat-animated-icon>
            <a mat-list-item [matMenuTriggerFor]="menu"  (mouseenter) = "desabilitarUsuario()"  (click) = "toggleUsuario()" >
            
                <mat-icon>
                    people_alt
                </mat-icon>
               &nbsp;   Utilizadores 
              
            </a>
           
            <mat-menu #menu="matMenu">
                <a mat-menu-item  routerLink="/usuario/novo">
                    Novo Usuario
                    <mat-icon color="primary" class="icon">
                        person_add
                    </mat-icon>
                    </a>
             
                <a mat-menu-item  routerLink="/patente/nova">
                  Nova Patente
                  <mat-icon color="primary" class="icon">
                   add_circle
                  </mat-icon>
                </a>
                <a mat-menu-item routerLink="/patente">
                    Listar
                    <mat-icon color="primary" class="icon"> 
                        list
                    </mat-icon>
                </a>
              </mat-menu>
              <mat-divider></mat-divider>
              <mat-animated-icon start="keyboard_arrow_down" class="icon-1 mat-icon" end="keyboard_arrow_up" colorStart="none" colorEnd="none" [animate]="animate_endereco"></mat-animated-icon>
             <a mat-list-item [matMenuTriggerFor]="menuEndereco" (mouseenter) = "desabilitarEndereco()"  (click) = "toggleEndereco()" >
                <mat-icon>
                    explore
                </mat-icon>
               &nbsp;   Endereço
              
            </a> 
            
              <mat-menu #menuEndereco="matMenu">
                <a mat-menu-item routerLink="/municipio/novo">
                    Municipío
                    <mat-icon color="primary" class="icon"> 
                        location_on
                    </mat-icon>
                </a>
                <a mat-menu-item [routerLink]="['/bairro/novo']" routerLinkActive="router-link-active" >
                    Bairro
                    <mat-icon color="primary" class="icon">
                        center_focus_strong
                    </mat-icon>
                </a>
                <a mat-menu-item routerLink="/rua/nova">
                    Rua
                    <mat-icon color="primary" class="icon"> 
                        my_location
                    </mat-icon>
                </a>

                <a mat-menu-item routerLink="/enderecos">
                    Listar Endereços
                    <mat-icon color="primary" class="icon"> 
                        format_list_bulleted
                    </mat-icon>
                </a>
              </mat-menu>
              <mat-divider></mat-divider>
                <mat-animated-icon start="keyboard_arrow_down" class="icon-1 mat-icon" end="keyboard_arrow_up" colorStart="none" colorEnd="none" [animate]="animate_esquadra"></mat-animated-icon>
            
                <a mat-list-item [matMenuTriggerFor]="menuEsquadra"  (mouseenter) = "desabilitarEsquadra()"  (click) = "toggleEsquadra()" >
                <mat-icon>
                    local_police
                </mat-icon>
               &nbsp;   Esquadra
            </a>
            <mat-menu #menuEsquadra="matMenu">
               <a mat-menu-item  routerLink="/esquadra/nova">
                    Nova Esquadra
                    <mat-icon color="primary" class="icon">
                        add_circle
                    </mat-icon>
                    </a>
                    <a mat-menu-item routerLink="/esquadra">
                     Listar
                    <mat-icon color="primary" class="icon"> 
                        list
                    </mat-icon>
                    </a>
            </mat-menu>
            <mat-divider></mat-divider>
        </mat-nav-list>
        
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>