.sidenav {
    background-color: #313c8e;/*#000080;*/ 
    width: 200px;
}

.sidenav a {
    color: #fff;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #fff;
}
