/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: lightblue;

}

.amarela{
    color: #ffff00;
}

.v-middle {
    vertical-align: middle;
}

.tamanho_campo_medio{ 
   width: 17rem;
   margin: .5em;
   padding: auto;
}

.form-inline{
    display: block !important;
    padding: auto;
    margin: auto;
}