<mat-card class="card">
<mat-card-title class="title">{{titulo}}</mat-card-title>
<form [formGroup]="form" novalidate fxLayout="column">
<div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field fxFlex>
      <mat-select formControlName="provinciaCtrl" (selectionChange)="selectedProvincia($event)" 
      placeholder="províncias" #singleSelect>
        <mat-option>
            <ngx-mat-select-search [formControl]="ProvinciaFiltroCtrl" placeholderLabel="Buscar..."
              noEntriesFoundLabel="nenhuma provincia encontrada"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let provincia of provinciasFiltradas | async" [value]="provincia.id">{{provincia.designacao}}
          </mat-option>
        </mat-select>
      </mat-form-field>

       <mat-form-field fxFlex>
        <mat-select formControlName="municipioCtrl" (selectionChange)="selectedMunicipio($event)"
          placeholder="municipíos" #singleSelect>
          <mat-option>
            <ngx-mat-select-search placeholderLabel="Buscar..." [formControl]="MunicipioFiltroCtrl"
              noEntriesFoundLabel="nenhuma municipío encontrado"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let municipio of municipiosFiltrados | async" [value]="municipio.id">{{municipio.designacao}}
          </mat-option>
        </mat-select>
      </mat-form-field>
 </div>
  <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
  
       <mat-form-field fxFlex>
        <mat-select formControlName="bairroCtrl" (selectionChange)="selectedBairro($event)" 
          placeholder="bairros" #singleSelect>
          <mat-option>
            <ngx-mat-select-search placeholderLabel="Buscar..." [formControl]="BairroFiltroCtrl"
              noEntriesFoundLabel="nenhuma bairro encontrado"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let bairro of bairrosFiltrados | async" [value]="bairro.id">{{bairro.designacao}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-select formControlName="ruaCtrl" [(ngModel)]="esquadra.rua" placeholder="ruas" #singleSelect>
          <mat-option>
            <ngx-mat-select-search [formControl]="RuaFiltroCtrl" placeholderLabel="Buscar..." 
              noEntriesFoundLabel="nenhuma rua encontrado"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let rua of ruasFiltrados | async" [value]="rua.id">{{rua.designacao}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
     <mat-form-field fxFlex>
        <input matInput placeholder="designacao" formControlName="designacao" autocomplete="false" [(ngModel)]="esquadra.designacao" >
        <mat-icon matSuffix
        *ngIf="form.controls['designacao'].invalid && (form.controls['designacao'].dirty || form.controls['designacao'].touched )"
        color="warn">close</mat-icon>
      <mat-error
        *ngIf="form.controls['designacao'].invalid && (form.controls['designacao'].dirty || form.controls['designacao'].touched)">
        insira nome da esquadra.</mat-error>

      <mat-icon matSuffix
        *ngIf="form.controls['designacao'].valid && (form.controls['designacao'].dirty || form.controls['designacao'].touched)"
        color="primary">check</mat-icon>
      </mat-form-field>
  </div>
 </form>
 <mat-card-actions id="card_footer" align="end">
  <button mat-fab color="primary" (click)="enviarDados()" matTooltipPosition="above" matTooltip="salvar" ripple-effect>
      <mat-icon *ngIf="!id">
        check
      </mat-icon>
      <mat-icon *ngIf="id">
        refresh
      </mat-icon>
    </button>
    <button mat-fab (click)="cancelar()" color="warn" matTooltipPosition="above" matTooltip="cancelar" ripple-effect>
      <mat-icon>
        clear
      </mat-icon>
    </button>
 </mat-card-actions>







</mat-card>